.info_total_person{
    margin: 0px;
    padding: 0px;
    border: 0px;

    margin-top: 10px;

    align-items: center;
    justify-content: center;
    display: flex;

}
.info_person{
    width: 45%;

}
.info_name_person{
    width: 45%;
}
.info_cima, .info_baixo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hr_edit, .hr_edit_baixo{
    margin: 0px;
}
.hr_edit_baixo{
    width: 75%;
}

.div_hr{
display: flex;
align-content: center;
}

.editar_nome{
    width: 25vh;
}

.h4_edit, .p_edit{
    margin: 0px;
}
.p_edit{
    margin-bottom: 10px;
}
.h4_edit{
    margin-top: 10px;
}


.info_total_person, .info_name_person, .info_person{
    border: 1px solid black;
}





