.distr {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.input_line {
    width: 37px;
}

.mod_atributos {
    width: 110px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 51px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 51px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 51px -2px rgba(0, 0, 0, 0.75);
    border-radius: 5px 5px 5px 5px;
}

.mod_name {
    margin: 0px;
    padding: 5px;
    border: 0px;
    -webkit-box-shadow: inset 0px 0px 70px -14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 70px -14px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 70px -14px rgba(0, 0, 0, 0.3);
    color: antiquewhite;
    border-radius: 20px 20px 0px 0px;
}

.p_atributo {
    font-size: 24px;
    padding: 0;
    margin: 0;
    border: 0;
}

.bonus_atributo {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

.num_mod {
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: antiquewhite;
    border-radius: 25px 0px 25px 0px;
    -webkit-box-shadow: inset 0px 0px 70px -14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 70px -14px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 70px -14px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 20px 20px;
}

.mod_box {
    border-radius: 20px 20px 20px 20px;
    box-shadow: inset 0px 0px 70px -14px rgb(153, 130, 114, 0.3)
}

.insp_div {
    display: flex;
    align-content: baseline;

    margin: 0px;
    padding: 10px;
    border: 0px;
}

.div_inspiracao {
    border: 1px solid black;
    width: 75px;
    height: 75px;

    align-content: baseline;

    border-radius: 10px 25px 25px 10px;
    
}

.p_inspiracao {
    width: 250px;
    border: 1px solid black;

padding: 5px;
margin-top: auto;
margin-bottom: auto;

border-radius: 0 10px 10px 0;
}

.input_line_insp{


    width: 35px;

 padding: 0px;
 border: 0px;
 margin: 0px;
}

.salva_pericia, .coluna_pericia{
    flex-direction: column;
    align-items: center;

}
.linha_pericia{
    display: flex;
    align-items: center;
}

.checkbox_salvaguardaa{
    display: flex;
}

.salvaguar_linha{
    display: flex;
    align-items: center;
}