body{
  background: rgb(230, 199, 177);
    background: -moz-radial-gradient(circle, rgba(230, 199, 177, 1) 27%, rgba(153, 127, 108, 1) 99%);
    background: -webkit-radial-gradient(circle, rgba(230, 199, 177, 1) 27%, rgba(153, 127, 108, 1) 99%);
    background: radial-gradient(circle, rgba(230, 199, 177, 1) 27%, rgba(153, 127, 108, 1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6c7b1", endColorstr="#997f6c", GradientType=1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
